snippet cl
	console.log(${1})

snippet cw
	console.warn(${1})

snippet ce
	console.error(${1})

snippet imp
	import ${1} from '${2}'

snippet setup
	beforeEach(() => {
		${1}
	})

snippet teardown
	afterEach(() => {
		${1}
	})

snippet cf
	const ${1} = (${2}) => (
		${3}
	)
