snippet def
	def ${1}
		${2}
	end

snippet setup
	def setup
		${1}
	end

snippet teardown
	def teardown
		${1}
	end

snippet model
	class ${1} < ActiveRecord::Base
		${2}
	end

snippet class
	class ${1}
		${2}
	end
